body {
  padding-top: 70px;
  padding-bottom: 30px;
}

a {
	color: #e799a3;
}

a:hover {
	color: #c25a7c;
}

p {
	padding: 0 1.1em;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
	max-width: 280px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
	display:inline-block;
	content: "[";
	padding-right: 0.5em;
}
.btn-bracketed::after {
	display:inline-block;
	content: "]";
	padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
	display: none
  }
}

.glyphicon-heart {
	color: red;
}

.ion-wineglass {
	color: #f7e7ce;
	font-size: 1.25em;
}

.ion-ios-rose {
	color: pink;
}

.ion-university {
	color: #003570;
	font-size: 1.25em;
}

.glyphicon-phone {
	color: #625d5d;
	font-size: 1.25em;
}

.ion-ios-briefcase {
	color: #835c3b;
	font-size: 1.25em;
}

.dialog-box, .img-thumbnail {
	cursor: pointer;
}

.dialog-div {
	display: none;
}

.signature {
	padding-left: 2em;
	font-size: 1.25em;
	font-weight: bold;
}

.grad-table {
	font-size: 2em;
	text-align: center;
	width: 90%;
}

.nav-links {
	font-size: 2em;
	text-align: center;
}

.navbar-nav .glyphicon {
	color: #e799a3;
}

.navbar-nav .ionicon{
	color: #e799a3;
}

.row {
	padding-bottom: 1.25em;
}

.jumbotron {
	color: red;
	background-color: pink;
	background-image: linear-gradient(pink, white);
	text-align: center;
}

.videowrapper {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;
}

.page-footer {
	margin: 0 auto;
	text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.ui-button:focus { outline:none !important }