@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>There is always a place on profiles (Stack Overflow, LinkedIn, etc.) with room for a website. So I decided to make one so I'd have something to put there.</p>
<p>And with Amazon Web Services (AWS), it is pretty cheap and easy to put something together.</p>
