@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>There is always a place on profiles (Stack Overflow, LinkedIn, etc.) with room for a website. So I decided to make one so I'd have something to put there.</p>
<p>And with Amazon Web Services (AWS), it is pretty cheap and easy to put something together.</p>

<address>
    North Natomas area<br />
    Sacramento, CA 95835<br />
    <abbr title="Phone">P:</abbr>
    916.572.8027
</address>

<address>
    <span class="ionicon ion-email" />  <a href="mailto:pinoacres@gmail.com">pinoacres@gmail.com</a><br />
    <span class="ionicon ion-social-linkedin" /> <a href="https://www.linkedin.com/in/bruce-longacre-ii-b387bb4" target="_blank">Bruce Longacre II on LinkedIn</a><br />
    <span class="ionicon ion-information-circled indeed-icon" /> <a href="http://www.indeed.com/r/e8b018eeb26ed8f6" target="_blank">Bruce Longacre II on Indeed</a>
</address>
