@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    North Natomas area<br />
    Sacramento, CA 95835<br />
    <abbr title="Phone">P:</abbr>
    916.572.8027
</address>

<address>
    <span class="ionicon ion-email" />  <a href="mailto:longacre.bruce@gmail.com">longacre.bruce@gmail.com</a><br />
    <span class="ionicon ion-social-linkedin" /> <a href="https://www.linkedin.com/in/bruce-longacre-ii-b387bb4" target="_blank">Bruce Longacre II on LinkedIn</a><br />
    <span class="ionicon ion-information-circled indeed-icon" /> <a href="http://www.indeed.com/r/e8b018eeb26ed8f6" target="_blank">Bruce Longacre II on Indeed</a>
</address>
