@{
    ViewData["Title"] = "Resume";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This will be my resume. Not sure how I want to do this. A place to get creative though.</p>

<ul>
   <li>Work History</li>
   <li>Skills</li>
   <li>Certifications</li>
   <li>Education</li>
</ul>