@{
    
}

<div class="jumbotron">
    <h1>Love Notes <span class="glyphicon glyphicon-edit" /></h1>
</div>

<div class="page-header">
    <h1>I Am So Proud of You</h1>
</div>
<div>
    <p>
        Every morning that I leave for work, and see you holding BB, I smile knowing that he is with his loving and caring mother.  For every beastly and petulant thing that he does during the day,
        I know the kisses and the "MaMa's" keep you going and melt your heart.  Working full time and giving him so much attention is an nearly impossible task, but you do it every day with unrelenting love and patience.
        <span id="spnGlass" data-div-id="dialog-wine" class="ionicon ion-wineglass dialog-box"></span>
    </p>
    <p>I am proud of you, and we love you. <span id="spnRose" data-div-id="dialog-rose" class="ion-ios-rose dialog-box"></span></p>
</div>

<div class="page-header">
    <h1>He is a Little Human Now</h1>
</div>
<div>
    <p>
        Our baby boy is a little sponge, soaking up the world around him.  You are so patient with him <span id="spnHeartChica" data-div-id="dialog-heart" class="glyphicon glyphicon-heart dialog-box"></span>,
        and work hard to teach him new things and how to behave.
    </p>
    <p>I love the cute looks on his face, the way he dances with you, and the way that he loves you.  You have sculpted him into an adorable, intelligent, and loving little boy.</p>
</div>

<div class="page-header">
    <h1>The Future is Coming Fast</h1>
</div>
<div>
    <p>
        Whenever we move up a diaper size or retire an outfit, or when I browse collections of pictures, it makes me realize how fast he is growing up.
        People say you blink, and they are off to college <span id="spnGrad" data-div-id="dialog-grad" class="ion-university dialog-box"></span>, so it is important to enjoy the moments you are in.  That couldn't be more true.
    </p>
    <p>
        I wonder a lot about what kind of little boy he will be <span id="spnBall" data-div-id="dialog-ball" class="ion-ios-baseball-outline dialog-box"></span>,
        what kind of teenager he will be  <span id="spnPhone" data-div-id="dialog-phone" class="glyphicon glyphicon-phone dialog-box"></span>,
        and what kind of man he will be <span id="spnMan" data-div-id="dialog-man" class="ion-ios-briefcase dialog-box"></span>.  I know that with your love that he will
        continue to grow up to be amazing, and make us proud every day.
    </p>
</div>

@* Dialog Windows*@

<div id="dialog-wine" class="dialog-div" title="KJ">
    <p>With a little help from <em>Mommy Juice</em> at the end of the day, of course.</p>
</div>

<div id="dialog-heart" class="dialog-div" title="Love, love, love.">
    <p>A LOT of patience and love, especially when he is "testing" limits to see how far he can go.</p>
</div>

<div id="dialog-rose" class="dialog-div" title="Roses are red...">
    <p>I haven't bought you flowers in a while... I may need to change that soon.</p>
    <img id="imgFlowers" src="~/images/flowers.jpg" height="100%" width="100%" alt="Oooh, pretty">
</div>

<div id="dialog-grad" class="dialog-div" title="I Got Me Some Book Learnin'">
    <p>Remember BB, State colleges are just as good as UC's...</p>
    <div class="container-fluid grad-table">
        <div class="row">
            <div class="col-xs-4">
                <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/chico.png" width="60px" height="60px" />
            </div>
            <div class="col-xs-4">
                <span>=</span>
            </div>
            <div class="col-xs-4">
                <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/davis.png" width="60px" height="60px" />
            </div>
        </div>
    </div>
</div>

<div id="dialog-ball" class="dialog-div" title="Good Throw, BB!">
    <p>Want to go play catch?!</p>
</div>

<div id="dialog-phone" class="dialog-div" title="Put It Down">
    <p>No cell phones at the dinner table, BB.  Your friends can wait.</p>
</div>

<div id="dialog-man" class="dialog-div" title="You're All Grown Up">
    <p>A doctor?  A lawyer?  A programmer?  What will our BB be?</p>
</div>