@{
    ViewData["Title"] = "Mother's Day - 2016";
}

<div class="jumbotron">
    <h1>Pictures <span class="glyphicon glyphicon-picture" /></h1>
</div>

<div class="page-header">
    <h1>Who's That? Is that Mommy?</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-point.JPG" height="200" width="200" class="img-thumbnail" alt="What up...">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-aquarium-001.JPG" height="200" width="200" class="img-thumbnail" alt="Aquarium Cuties">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-connie.JPG" height="200" width="200" class="img-thumbnail" alt="Grammie!">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/family.jpg" height="200" width="200" class="img-thumbnail" alt="Familia">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/birthday-kiss.JPG" height="200" width="200" class="img-thumbnail" alt="Mmmuuwwahh!!!">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/merica.jpg" height="200" width="200" class="img-thumbnail" alt="'MERICA!">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-chair.jpg" height="200" width="200" class="img-thumbnail" alt="Mmm, So Cozy">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-vacuum.JPG" height="200" width="200" class="img-thumbnail" alt="Voldemort!">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-selfie-001.jpg" height="200" width="200" class="img-thumbnail" alt="Smile!">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-bjorn.jpg" height="200" width="200" class="img-thumbnail" alt="Wanna Go For a Walk?">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-snow.JPG" height="200" width="200" class="img-thumbnail" alt="Snowbody's Perfect">
        </div>
        <div class="col-xs-4">
            <img src="https://s3-us-west-2.amazonaws.com/pinoacres-images/mommy-bb-aquarium-002.JPG" height="200" width="200" class="img-thumbnail" alt="Look at That!">
        </div>
    </div>
</div>

@* Dialog Windows *@
<div id="image-dialog-div" class="dialog-div">
    <img id="image-tag" src="" height="100%" width="100%" alt="">
</div>