@{
    
}

<div class="jumbotron">
    <h1>Videos <span class="glyphicon glyphicon-film" /></h1>
</div>
<div class="page-header">
    <h1>Being Little</h1>
</div>
<div class="text-center videowrapper">
    <iframe src="https://www.youtube.com/embed/hyuyY7bAdYA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="page-header">
    <h1>Dancing Fool</h1>
</div>
<div class="text-center videowrapper">
    <iframe src="https://www.youtube.com/embed/D33oOO3sV6s" frameborder="0" allowfullscreen></iframe>
</div>
<div class="page-header">
    <h1>Running Fool</h1>
</div>
<div class="text-center videowrapper">
    <iframe src="https://www.youtube.com/embed/zF7VAOQyhEU" frameborder="0" allowfullscreen></iframe>
</div>