@{
    ViewData["Title"] = "Rock, Paper, Scissor, Lizard, Spock";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Placeholder for <strong>Rock, Paper, Scissor, Lizard, Spock</strong> game.</p>